<div class="container">
    <div class="row">
        <div class="logo col-lg-4 offset-lg-1">
            <img src="assets/img/sangadolbiru.png" alt="" class="logo">
        </div>
        <div class="about col-lg-7 col-sm-12">
            <h1>SANGADOL</h1>
            <div class="desc">
                <p>Sangadol adalah sebuah komunitas yang dibentuk untuk memeriahkan dan ikut serta dalam perkembangan industri peridolan di Yogyakarta, dengan mengedepankan ikatan yang solid antara idol group dan para penggemar. Sangadol juga mengusung cita-cita untuk menciptakan ruang yang nyaman bagi semua kalangan dalam industri peridolan.</p>
            </div>
            <div class="sosmed">
                <div class="button-sosmed">
                    <a href="https://instagram.com/sangadol.ofc" target="_blank">
                        <button class="btn-sosmed"><i class="bi bi-instagram"></i></button>
                    </a>
                    <div class="sosmed-name">
                        Instagram
                    </div>
                </div>
                <div class="button-sosmed">
                    <a href="http://twitter.com/sangadol_ofc" target="_blank">
                        <button class="btn-sosmed"><i class="bi bi-twitter"></i></button>
                    </a>
                    <div class="sosmed-name">
                        Twitter
                    </div>
                </div>
                <div class="button-sosmed">
                    <a href="https://tiktok.com/@sangadol.ofc" target="_blank">
                        <button class="btn-sosmed"><i class="bi bi-tiktok"></i></button>
                    </a>
                    <div class="sosmed-name">
                        Tiktok
                    </div>
                </div>
                <div class="button-sosmed">
                    <button class="btn-sosmed"><i class="bi bi-whatsapp"></i></button>
                    <div class="sosmed-name">
                        Whatsapp
                    </div>
                </div>
                <div class="button-sosmed">
                    <button class="btn-sosmed"><i class="bi bi-envelope"></i></button>
                    <div class="sosmed-name">
                        Email
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- <div class="count">

    <h1>Sangadol In Numbers</h1>

    <div class="d-flex justify-content-center">
        <div>
            <a href="https://instagram.com/sangadol.ofc" target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
            <h4>500</h4>
            <p>Total number of Instagram Followers</p>
        </div>
        <div>
            <a href="https://twitter.com/sangadol_ofc" target="_blank">
                <i class="bi bi-twitter"></i>
            </a>
            <h4>500</h4>
            <p>Total number of Twitter Followers</p>
        </div>
    </div>


</div> -->