<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="idol-img">

            </div>
        </div>

        <div class="col-md-6">
            <div class="idol-desc">
                <h2>MINERVA LAND</h2>
                <p>Bedaunik.com</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus architecto accusamus velitfacere, sequi at ut labore minima nesciunt id fugit nemo aperiam porro odio temporibus qui debitisaspernatur eaque.</p>
                <br>
                <div class="sosmed">
                    <div class="button-sosmed">
                        <a href="https://instagram.com/minerva.land" target="_blank">
                            <button class="btn-sosmed"><i class="bi bi-instagram"></i></button>
                        </a>
                        <div class="sosmed-name">
                            Instagram
                        </div>
                    </div>
                    <div class="button-sosmed">
                        <a href="http://twitter.com/minerva_land" target="_blank">
                            <button class="btn-sosmed"><i class="bi bi-twitter"></i></button>
                        </a>
                        <div class="sosmed-name">
                            Twitter
                        </div>
                    </div>
                    <div class="button-sosmed">
                        <a href="https://tiktok.com/@minervaland.official" target="_blank">
                            <button class="btn-sosmed"><i class="bi bi-tiktok"></i></button>
                        </a>
                        <div class="sosmed-name">
                            Tiktok
                        </div>
                    </div>


                </div>

            </div>

        </div>


    </div>

    <div class="member mt-5">
        <h2>ACTIVE MEMBER</h2>
        <div class="d-flex justify-content-center mt-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <img src="" alt="">
                        <div class="hover-sosmed">

                        </div>
                    </div>
                    <p>Name</p>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <img src="" alt="">
                    </div>
                    <p>Name</p>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <img src="" alt="">
                    </div>
                    <p>Name</p>
                </div>
            </div>
        </div>

    </div>



</div>