*{
    color: #ffff;
}


// .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
//     color: #ff4e49;
//     border-bottom: 4px solid #ff4e49;
//     border-radius: 1px;
//     transition: 0.5 ease;
// }

.nav-item .nav-link.active, .nav-item .show > .nav-link {
    color: #ff4e49;
    border-bottom: 3px solid #ff4e49;
    border-radius: 1px;
    transition: 0.5 ease;
}

.navbar {
    box-shadow: whitesmoke;
    // background-color: none;
    background-color: #1862C2;
    width: 100%;
    color: white;
    font-weight: 500;
}

nav {
    padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px 20px;
}

.navbar-nav {
    padding: 0;
}

.padding{
    padding: 0;
}

.nav-link {
    font-weight: 600;
    font-size: 14px;
}

.nav-link:hover {
    color: #ff4e49;
    transition: ease-in-out 0.5s;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-brand:hover {
    color: #ff4e49;
    transition: ease-in-out 0.5s;
}



@media screen and (max-width: 475px) {
    // .navbar-toggler {
    //     margin-left: 8rem;
    // }

    .container-fluid {
        div {
            padding: 8px;
        }
    }

    .nav-item .nav-link.active, .nav-item .show > .nav-link {
        color: #ff4e49;
        border-bottom: none;
        border-radius: none;
        transition: 0.5 ease;
    }
}