<!-- Carousel -->

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <img src="assets/img/jkt48.jpg" class="d-block w-100" alt="..."> -->
        <video autoplay loop class="h-100 w-100">
          <!-- <source src="assets/gif/jkt48.mp4" type="video/mp4"> -->
        </video>
      </div>
      <div class="carousel-item">
        <img src="assets/img/kohisekai.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/minervaland.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/irisidol.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<!-- Carousel -->


<div class="container hero">



<h1>Apa itu Idol Group?</h1>
<p>Sebuah grup idola mengacu pada sebuah kelompok musik yang terdiri dari beberapa anggota, biasanya remaja atau awal dua puluhan, yang utamanya dilatih dan dipasarkan sebagai idola. Grup-grup ini umumnya populer dalam industri musik pop negara-negara Asia Timur seperti Korea Selatan, Jepang, dan Tiongkok. Grup-grup idola dikenal dengan koreografi tarian yang seragam, lagu-lagu yang catchy, dan penekanan mereka pada interaksi dan keterlibatan dengan para penggemar.</p>

</div>


<div class="kamusngidol" id="kamusngidol">

    <div>
    <h1 class="text-center title-content">KAMUS NGIDOL</h1>
    </div>
    <div class="content mt-5 mb-5">

      <div class="carousel container">
        <div class="main-content">
          <!-- <div class="item">
            <img src="assets/img/part1.jpg" alt="">
          </div>
          <div class="item">
            <img src="assets/img/part1.jpg" alt="">
          </div>
          <div class="item">
            <img src="assets/img/part1.jpg" alt="">
          </div>
          <div class="item">
            <img src="assets/img/part1.jpg" alt="">
          </div>
          <div class="item">
            <img src="assets/img/part1.jpg" alt="">
          </div> -->
          <div class="item item-responsive">
          <img src="assets/img/part1.jpg" alt="" class="img-fluid">
          </div>
          <div class="item">
          <img src="assets/img/part1.jpg" alt="" class="img-fluid">
          </div>
          <div class="item item-responsive">
          <img src="assets/img/part1.jpg" alt="" class="img-fluid">
          </div>
          <!-- <img src="assets/img/part1.jpg" alt="" class="img-fluid item"> -->
                

        </div>
        <div class="view-more">
          <button class="btn btn-danger" routerLink="kamusngidol">See More</button>
        </div>
        <!-- <div class="button-area">
          <button class="prev"><</button>
          <button class="next" appNext>></button>
        </div> -->
      </div>

    </div>

    <div class="container mt-4">
        <h3 class="text-center">Konten yang selalu kami bagikan tiap minggu di media sosial, berisi tentang hal-hal seputar idoling untuk teman-teman yang baru masuk ke dunia idoling.</h3>
    </div>



</div>


<div class="senlist" id="senlist">

<div>
    <h1 class="text-center">Senin Playlist</h1>
</div>

<div class="content-senlist">

  <div class="container">
  
    <div class="main-content">
      <div class="content content-responsive">
        <!-- <video src="assets/videos/senlist part 1.mp4" autoplay="true" muted="true" class="w-100 h-100" controls=""></video> -->
        <video loop class="video" controls>
          <source src="assets/videos/deaawalia.mp4" type="video/mp4">
        </video>
      </div>
      <div class="content">
        <video loop class="video" controls>
          <source src="assets/videos/zhevinci.mp4" type="video/mp4">
        </video>
      </div>
      <div class="content content-responsive">
        <video loop class="video" controls>
          <source src="assets/videos/faatinhan.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  
  </div>


</div>
<div class="view-more">
  <button class="btn btn-danger" routerLink="senlist">See More</button>
</div>

<div class="container">
    <h3 class="text-center">Konten kolaborasi dengan idol group lokal, dimana para fans bisa mengetahui
        lagu-lagu yang sedang didengarkan oleh member-member idol group saat ini.</h3>
</div>

</div>

<div class="chant" id="chant">

    <h1 class="text-center">Chant List</h1>

    <div class="container">
    <div class="main-content">
      <h4>Standar Mix</h4>
      <p>Taiga! Faiya! Saiba! Faiba! Daiba! Baiba! Jya jya! [Faibo! Waipa!</p>

    </div>
  </div>




</div>

