<div class="pict-idol">


</div>

<div class="container">


    <div class="box-member row">
        <div class="col-lg-3">
            <h3>KOHISEKAI</h3>
            <a routerLink="kohisekai">
                <div class="member">
                    <!-- <img src="assets/img/kohisekai.jpg" alt=""> -->
                </div>
            </a>
            <div class="learn">
                <button class="btn btn-danger">Learn More</button>
            </div>
        </div>
        <div class="col-lg-3">
            <h3>JKT48</h3>
            <a routerLink="jkt48">

                <div class="member">
                    <!-- <img src="assets/img/jkt48.jpg" alt=""> -->
                </div>
            </a>
            <div class="learn">
                <button class="btn btn-danger" routerLink="jkt48">Learn More</button>
            </div>
        </div>
        <div class="col-lg-3">
            <h3>MINERVA LAND</h3>
            <a routerLink="minervaland">

                <div class="member">
                    <!-- <img src="assets/img/minervaland.jpg" alt=""> -->
                </div>
            </a>
            <div class="learn">
                <button class="btn btn-danger">Learn More</button>
            </div>
        </div>
        <div class="col-lg-3">
            <h3>IRIS IDOL</h3>
            <a routerLink="irisidol">

                <div class="member">
                    <!-- <img src="assets/img/irisidol.jpg" alt=""> -->
                </div>
            </a>
            <div class="learn">
                <button class="btn btn-danger">Learn More</button>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 offset-lg-2">
                <h3>SAYWON</h3>
                <a routerLink="saywon">

                    <div class="member">
                        <!-- <img src="assets/img/irisidol.jpg" alt=""> -->
                    </div>
                </a>
                <div class="learn">
                    <button class="btn btn-danger">Learn More</button>
                </div>
            </div>
    
            <div class="col-lg-3 offset-lg-1">
                <h3>GOCHIKARA</h3>
                <a routerLink="gochikara">

                    <div class="member">
                        <!-- <img src="assets/img/irisidol.jpg" alt=""> -->
                    </div>
                </a>
                <div class="learn">
                    <button class="btn btn-danger">Learn More</button>
                </div>
            </div>
    
        </div>
    </div>

    
</div>


