* {
    color: #0C7FC0;
}

.container {
    .event-page {
        display: flex;
    }

    h1 {
        font-size: 70px;
        font-weight: 700;
        margin-top: 3rem;
    }

    .calendar {
        height: 500px;
        width: 700px;
        // background-color: aqua;

        h4 {
            font-weight: 700;
        }

        .day {
            div {
                h4 {
                    margin-top: 2rem;
                    font-weight: 700;
                }

                // div {
                //     width: 40px;
                //     height: 40px;
                //     background-color: #0C7FC0;
                //     border-radius: 50%;
                //     align-items: center;
                //     margin: 0px;
                //     h4 {
                //         // margin-top: 1.5rem;
                //         font-weight: 700;
                //         color: whitesmoke;
                //     }
                // }
            }
        }
    }

    .vertikal {
        height: 500px;
        width: 5px;
        background-color: #E90000;
        margin-left: 2rem;
    }

    .event {
        h2 {
            font-weight: 700;
        }
    }

    .horizontal {
        display: none;
    }
}

.note {
    margin-top: 1.5rem;

    h6 {
        font-weight: 700;
        margin-left: 0.3rem;
    }

    img {
        width: 20px;
        height: 20px;
    }
}

.list {
    margin-left: 2rem;

    img {
        width: 25px;
        height: 25px;
    }

    span {
        margin-top: 0.5rem;
        margin-left: 0.3rem;
        font-weight: 600;
        font-size: 17px;
    }
}

@media screen and (max-width: 475px) {
    .container {
        .event-page {
            display: block;

            .calendar {

                width: 350px;
                height: 550px;

                .day {

                    h4 {
                        font-size: 18px;
                    }
                }

            }
            
            .vertikal {
                display: none;
            }

            .horizontal {
                display: block;
                width: 350px;
                height: 5px;
                background-color: #E90000;
                margin-bottom: 2rem;
            }

        }
    }
}