<div id="kamusngidol">

  <div class="container">

    <div class="content">

      <div class="part">

        <h1>NgalorNgidol#1</h1>
        <div class="part-desktop">
          <div class="d-flex justify-content-between">
            <div class="box">
              <img src="assets/img/part1 1.jpg" alt="">
            </div>
            <div class="box">
              <img src="assets/img/part1 2.jpg" alt="">
            </div>
            <div class="box">
              <img src="assets/img/part1 3.jpg" alt="">
            </div>
            <div class="box">
              <img src="assets/img/part1 4.jpg" alt="">
            </div>
            <div class="box">
              <img src="assets/img/part1 5.jpg" alt="">
            </div>
          </div>
        </div>





        <div class="part mt-2">

          <h1>NgalorNgidol#2</h1>
          <div class="part-desktop">
            <div class="d-flex justify-content-between">
              <div class="box">
                <img src="assets/img/part2 1.jpg" alt="">
              </div>
              <div class="box">
                <img src="assets/img/part2 2.jpg" alt="">
              </div>
              <div class="box">
                <img src="assets/img/part2 3.jpg" alt="">
              </div>
              <div class="box">
                <img src="assets/img/part2 4.jpg" alt="">
              </div>
              <div class="box">
                <img src="assets/img/part2 5.jpg" alt="">
              </div>
            </div>
          </div>




          <div class="part mt-2">

            <h1>NgalorNgidol#3</h1>
            <div class="part-desktop">
              <div class="d-flex justify-content-between">
                <div class="box">
                  <img src="assets/img/part3 1.jpg" alt="">
                </div>
                <div class="box">
                  <img src="assets/img/part3 2.jpg" alt="">
                </div>
                <div class="box">
                  <img src="assets/img/part3 3.jpg" alt="">
                </div>
                <div class="box">
                  <img src="assets/img/part3 4.jpg" alt="">
                </div>
                <div class="box">
                  <img src="assets/img/part3 5.jpg" alt="">
                </div>
              </div>
            </div>

      


            <div class="part mt-2">

              <h1>NgalorNgidol#4</h1>
              <div class="part-desktop">
                <div class="d-flex justify-content-between">
                  <div class="box">
                    <img src="assets/img/part4 1.jpg" alt="">
                  </div>
                  <div class="box">
                    <img src="assets/img/part4 2.jpg" alt="">
                  </div>
                  <div class="box">
                    <img src="assets/img/part4 3.jpg" alt="">
                  </div>
                  <div class="box">
                    <img src="assets/img/part4 4.jpg" alt="">
                  </div>
                  <div class="box">
                    <img src="assets/img/part4 5.jpg" alt="">
                  </div>
                </div>
              </div>

        


              <div class="part mt-2">

                <h1>NgalorNgidol#5</h1>
                <div class="part-desktop">
                  <div class="d-flex justify-content-between">
                    <div class="box">
                      <img src="assets/img/part5 1.jpg" alt="">
                    </div>
                    <div class="box">
                      <img src="assets/img/part5 2.jpg" alt="">
                    </div>
                    <div class="box">
                      <img src="assets/img/part5 3.jpg" alt="">
                    </div>
                    <div class="box">
                      <img src="assets/img/part5 4.jpg" alt="">
                    </div>
                    <div class="box">
                      <img src="assets/img/part5 5.jpg" alt="">
                    </div>
                  </div>
                </div>


              </div>
              <br><br><br>

            </div>

          </div>

        </div>